/* css variables */
:root {
    --title-color: #ED8853;
    --main-blue: #1D2E47;
    --bg-blue: #424A56;
    --btn-color: #ED8853;
    --rounded-corners: 10px;
    --dark-bg: #0A1019;
    --nav-light-blue: #1D2E47C4;
    --nav-dark-blue: #090D15D9;
    --banner-bg: rgba(0, 0, 0, .75);
}

body {
    background-color: var(--bg-blue);
}

nav {
    background-color: var(--nav-dark-blue);
}

/* current page is underlined in nav */
nav .active {
    border-bottom: 2px solid;
}

header {
    background-image: url(../images/banner-img.jpg);
    background-size: cover;
    background-position: center;
}

.banner-bg {
    background-color: var(--banner-bg);
}

/* web developer / designer title */
.my-title {
    color: var(--title-color);
}

img {
    width: 100%;
    height: auto;
}

.text-bg-primary {
    background-color: var(--title-color) !important;
}

.projects {
    background-color: var(--main-blue);
}
.projects:hover {
    border: 2px solid white;
}

.btn {
    background-color: var(--btn-color);
    color: var(--main-blue);
    font-weight: bold;
    border: none !important;
    border-radius: var(--rounded-corners);
}

.btn:hover {
    background-color: var(--dark-bg) !important;
}

.card {
    border-radius: var(--rounded-corners);
}

/* styles skills section */
.skills-columns {
    max-width: 600px;
}

.skills-list {
    list-style: none;
    padding-left: 0;
}

.web-skills {
    background-color: var(--btn-color);
    border-radius: var(--rounded-corners);
}

.orange-text {
    color: var(--title-color);
}


.design-skills {
    border: 1px solid var(--btn-color);
    border-radius: var(--rounded-corners);
}

/* Contact form styles */
#contact {
    background-image: url(../images/banner-img.jpg);
    background-size: cover;
}

.form-bg {
    background-color: var(--banner-bg);
}


/* Styles footer */
footer {
    background-color: var(--dark-bg);
}

/* .footer-nav a {
    text-decoration: none;
} */

.footer-info {
    padding-left: 0;
}

/* style social icons */
footer i {
    font-size: 2.5rem;
}

.nav-contact {
    background-color: var(--nav-dark-blue);
}

/* tablet screens */
@media screen and (min-width: 768px) {
    /* darker nav bg than desktop */
    nav {
        background-color: var(--nav-dark-blue);
    }


}

/* desktop screens */
@media screen and (min-width: 992px) {
    nav {
        background-color: #1D2E47C4;
    }
}