:root {
    --title-color: #ED8853;
    --main-blue: #1D2E47;
    --bg-blue: #424A56;
}

button span {
    background-color: var(--main-blue);
}

/* current page is underlined in nav */
.active {
    border-bottom: 2px solid;
}

header {
    background-image: url(../images/banner-img.jpg);
    background-size: cover;
    background-position: center;
}

.banner-bg {
    background-color: rgba(0, 0, 0, .75);
}

/* web developer / designer title */
.my-title {
    color: var(--title-color);
}

@media screen and (min-width: 768px) {
    /* darker nav bg than desktop */
    nav {
        background-color: #090D15D9;
    }
}

@media screen and (min-width: 992px) {
    nav {
        background-color: #1D2E47C4;
    }
}